* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    height:75vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Oswald', sans-serif;
    background-color:#2F539B;
  }
  .container {
    padding: 3rem 1.5rem;
    border: 3px solid black;
    width: 500px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    
  }
  h2 {
    text-align: center;
    padding: 20px 10px;
  }
  .result__container {
    line-height: 50px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 5 5px;
    margin-bottom: 20px;
  }
  .result-container #result {
    word-wrap: break-word;
    max-width: calc(100% - 40px);
  }
  .result__container #copy {
    height: 40px;
    width: 40px;
    background-color:whitesmoke;
    color:black;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
  }
  
  .result__container #copy:hover {
    background-color: #1c2541;
    color: #ffffff;
  }
  #generate {
    margin-top: 25px;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: #0b132b;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }
  #generate:hover {
    background-color: #5bc0be;
    color: #ffffff;
  }
